<html>

<head>
    <title>Zach's Super blog</title>
</head>

<body>
    <div>
        <h1><a href="">Zach's Blog</a></h1>
    </div>
    <div>
        <p>published: 14.06.2014, 12:14</p>
        <h2><a href="">My first post</a></h2>
        <p>Blurg</p>
    </div>
    <div>
        <p>published: 14.06.2014, 12:14</p>
        <h2><a href="">My second post</a></h2>
        <p>Blarb</p>
    </div>
    <div>
        <p>published: Today</p>
        <h2><a href=""> My second blog </a></h2>
        <p>FOO!!!!! ```CodeMarkup```</p>
    </div>
</body>

</html>
